{% extends 'interactive_story/common.html' %}

{% block title %}{{ session.game }}{% endblock %}

{% block content %}
{% if session.place.description %}
<p>{{ session.place.description }}</p>
{% else %}
<p>You're in {{ session.place.name }}.</p>
{% endif %}
{% if session.happened.all %}
<p>Happened events:</p>
<ul>
{% for event in session.happened.all %}
<li>{{ event }}
{% endfor %}
</ul>
{% endif %}
<p>Conversations</p>
<ul>
{% for conversation in conversations %}
<li><a href="{% url 'exchange' conversation.pk %}">{{ conversation.output }}</a>
{% endfor %}
</ul>
<form method="get" action="{% url 'play' %}">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value=">">
	<p>{{ output }}</p>
</form>
{% endblock %}