{% load static %}<html>
	<head>
		<title>{% block title %}Editor{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
	</head>
	<body>
		{% if current_game %}
		<h1>Working on {{ current_game.name }}</h1>
		{% endif %}
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if current_game %}
		<p><a href="{% url 'edit-game' %}">Edit {{ current_game.name }}</a></p>
		{% endif %}

		<ul>
			{% block menu %}
			<li><a href="{% url 'games' %}">Games</a>
			<li><a href="{% url 'add-command' %}">Add command</a>
			<li><a href="{% url 'add-place' %}">Add place</a>
			<li><a href="{% url 'events' %}">Events</a>
			<li><a href="{% url 'play' %}">Play</a>
			<li><a href="{% url 'create-game' %}">Create Game</a>
			{% endblock %}
		</ul>

		{% block form %}{% endblock %}
	</body>
</html>