{% load static %}<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Interactive Story{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'hub/style.css' %}">
	</head>
	<body>
		{% block home %}
		<a href="{% url 'start' %}"><img class="home" src="{% static 'hub/G12_Places_Home.png' %}" height="100"></a>
		{% endblock %}

		{% block user %}
		{% if user.is_authenticated %}
		<div>{{ user.username }}, <a href="{% url 'logout' %}">log out</a></div>
		{% else %}
		<div><a href="{% url 'authenticate' %}">Log in</a> or <a href="{% url 'register' %}">register</a></div>
		{% endif %}
		{% endblock %}

		{% block body %}Nothing is here.{% endblock %}
	</body>
</html>