{% extends 'hub/base.html' %}
{% block title %}Stories{% endblock %}
{% block body %}
		{% if games %}
		<p>Following interactive stories are available.
			{% if not user.is_authenticated %} You need to be <a href="{% url 'authenticate' %}">logged in</a> in order to experience them.{% endif %}</p>
		<ul>
		{% for game in games %}
			<li>{% if user.is_authenticated %}<a href="{% url 'play' game.pk %}">{{ game.title }}</a>{% else %}{{ game.title }}{% endif %}
		{% endfor %}
		</ul>
		{% else %}
		<p>There're no stories.</p>
		{% endif %}
{% endblock %}