{% extends 'interactive_story/editor.html' %}

{% block title %}Add Command{% endblock %}

{% block form %}
<h3>Commands:</h3>
{% if global_commands %}
<ul>
	{% for command in global_commands %}
	<li><a href="{% url 'edit-command' command.pk %}">{{ command.text }}</a></li>
	{% endfor %}
</ul>
{% endif %}
<ul>
	{% for place in current_game.places.all %}
	<li>{{ place.name }}
		<ul>
		{% for command in place.commands.all %}
		<li><a href="{% url 'edit-command' command.pk %}">{{ command.text }}</a></li>
		{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>

<form action="{% url 'add-command' %}" method="post">
	{% csrf_token %}
	{{ form }}
	<p>Requirements:</p>
	{{ requirements.management_form }}
	<ul class="sortable">
		{% for requirement in requirements %}
		<li class="requirement" style="border: 1px black solid; margin: 1em;">{{ requirement }}</li>
		{% endfor %}
	</ul>
	<input type="submit" value="Add">
</form>
{% endblock %}