{% extends 'interactive_story/editor.html' %}

{% block title %}Add Command{% endblock %}

{% block form %}
<h3>Commands:</h3>
<ul>
	{% for command in commands %}
	<li><a href="{% url 'edit-command' command.pk %}">{{ command }}</a></li>
	{% endfor %}
</ul>

<form action="{% url 'add-command' %}" method="post">
	{% csrf_token %}
	{{ form }}
	<p>Requirements:</p>
	{{ requirements.management_form }}
	{% for requirement in requirements %}
	<div class="requirement" style="border: 1px black solid; margin: 1em;">{{ requirement }}</div>
	{% endfor %}
	<input type="submit" value="Add">
</form>
{% endblock %}