{% load static %}<html>
	<head>
		<title>Delete Command</title>
		<link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
	</head>
	<body>
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		<ul>
			<li><a href="{% url 'events' %}">Events</a>
			<li><a href="{% url 'add-command' %}">Add command</a>
		</ul>

		<form action="{% url 'delete-command' command.pk %}" method="post">
			{% csrf_token %}
			<p>Do you want to delete command {{ command.text }}?</p>
			<input type="submit" value="Delete">
			<a href="{% url 'edit-command' command.pk %}">Cancel</a>
		</form>
	</body>
</html>