{% load static %}<html>
	<head>
		<title>Edit Command</title>
		<link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
	</head>
	<body>
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		<ul>
			<li><a href="{% url 'events' %}">Events</a>
			<li><a href="{% url 'add-command' %}">Add command</a>
		</ul>

		<h3>Commands:</h3>
		<ul>
			{% for command in commands %}
			<li><a href="{% url 'edit-command' command.pk %}">{{ command.text }}</a></li>
			{% endfor %}
		</ul>

		<form action="{% url 'edit-command' command.pk %}" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Save">
			<a href="{% url 'delete-command' command.pk %}">Delete</a>
		</form>
	</body>
</html>